<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>536832611769-hjbts237d92c8n53kto58udgg2o52nlk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536832611769-hjbts237d92c8n53kto58udgg2o52nlk</string>
	<key>API_KEY</key>
	<string>AIzaSyBCjfH73P_2LN_2FcwIXbQhhHibb4CjFvs</string>
	<key>GCM_SENDER_ID</key>
	<string>536832611769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reflectionship.mobile</string>
	<key>PROJECT_ID</key>
	<string>reflectionship-999999</string>
	<key>STORAGE_BUCKET</key>
	<string>reflectionship-999999.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536832611769:ios:147f1f213a260e8c</string>
	<key>DATABASE_URL</key>
	<string>https://reflectionship-999999.firebaseio.com</string>
</dict>
</plist>