.badging{
  position: absolute;
  top: -3px;
  left: 9px;
  background: map-get($colors, dark);
  color: map-get($colors, myFont);
  border-radius: 50%;
}

.image-picker-button {
  width: 200px;
}
.profile-images {
  position: relative;
  height: 40%;
  background: white;
  z-index: 2;
  .profile-cover {
    width: 100%;
    height: 70%;
    opacity: 0.8;
  }

  .profile-area {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 4;
  }

  .profile-area-photo {
    @extend .profile-area;
    top: 63%;
    .profile-photo {
      width: 10rem;
      height: 10rem;
      border: 3px solid whitesmoke;
      border-radius: 50%;
    }
    @media screen and (orientation: Landscape) and (max-width: 1000px) {
      top: 45%;
      .profile-photo {
        width: 8rem;
        height: 8rem;
      }
    }
  }

  .profile-area-username {
    @extend .profile-area;
    top: 92%;
    .profile-name {
      margin-bottom: 0.5rem;
      margin-top: 0;
    }
    @media screen and (orientation: Landscape) {
      top: 89%;
    }
  }

  .profile-data {
    position: relative;
    margin-top: -2.4em;
    background: white;
    z-index: 3;
    border-radius: 50%;
    ion-col {
      padding-top: 15px;
      color: map-get($colors, primary);
      .number {
        padding: 0;
      }
      .data-head{
        font-family: cursive;
      }
      .data-number{
        font-family: fantasy;
      }
    }
  }
}

.other-content{
  z-index: 1;
  .profile-segment{
    padding-bottom: 0;
  }
}

.display-photos {
  background: map-get($colors, light);
  ion-row {
    flex-wrap: wrap;
    justify-content: center;
    ion-col {
      position: relative;
      padding: 2px;
      img {
        width: 100%;
        height: 8rem;
      }
      @media(orientation: portrait) {
        max-width: 25%;
        flex: 0 0 25%;
      }
      //4 columns in ipad portrait
      @media(orientation: portrait) and (min-height: 1000px) {
        max-width: 16%;
        flex: 0 0 16%;
      }
      //5 columns in landscape ipad
      @media(orientation: landscape) {
        max-width: 12%;
        flex: 0 0 12%;
      }
      //6 columns in landscape
      @media(orientation: landscape) and (max-height: 600px) {
        max-width: 16%;
        flex: 0 0 16%;
      }
    }
  }
}

.follow-footer{
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  ion-toolbar{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    min-height: 44px;
  }
  .toolbar-background{
      background: map-get($colors, primary);
  }
  .toolbar-content{
    text-align: center;
    color: map-get($colors, myFont);
  }
}


profile {
  .segment-md .segment-button {
    color: white !important;
    background-color: map-get($colors, primary) !important;
    border-color: white !important;
  }
  .segment-wp, .segment-wp .segment-button{
    background-color: map-get($colors, primary) !important;
    color: white !important;
  }

}

